annotated-types==0.7.0
anyio==4.13.0
appnope==0.1.4
asttokens==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.6
comm==0.2.3
cramjam==2.11.0
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
fastparquet==2026.3.0
fsspec==2026.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonpatch==1.33
jsonpointer==3.1.1
jupyter_client==8.8.0
jupyter_core==5.9.1
langchain-core==1.2.23
langchain-ollama==1.0.1
langsmith==0.7.23
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
numpy==2.4.4
ollama==0.6.1
orjson==3.11.8
packaging==26.0
pandas==3.0.2
parso==0.8.6
pexpect==4.9.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==23.0.1
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.33.1
requests-toolbelt==1.0.0
six==1.17.0
stack-data==0.6.3
tenacity==9.1.4
tornado==6.5.5
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.1
wcwidth==0.6.0
xxhash==3.6.0
zstandard==0.25.0
